/* General */

* {
    font-family: 'Raleway', sans-serif !important;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Background Image */

#loginBG {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0.9;
    z-index: -1;
}

/* "Trendify" */

#title {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#title h1 {
    font-size: 64px;
}

/* Login Box*/

#mainBox {
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(13, 17, 25, 0.92);
    color: white;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#mainBox p {
    position: inherit;
    top: 20px;
    text-align: center;
    width: 100%;
}

/* Options (Tabs) */

#options {
    position: inherit;
}

#options ul {
    border-radius: 10px;
}

#options ul li {
    width: 200px;
}

#options ul li:hover {
    border-radius: 10px;
}

#options ul li a {
    color: white;
}

#options ul li a:hover {
    color: brown;
}

.tabs li:not(.active) a:hover {
    border-radius: 10px;
}

/* Form */

.form {
    position: inherit;
    top: 50px;
    left: 20px;
}

.form-item {
    text-align: left;
}

.form-item label {
    color: rgb(108, 114, 122);
}

.form-item .desc {
    color: rgb(154, 158, 165);
}

/* Login Button */

#loginButton {
    position: inherit;
    float: left;
    left: 20px;
    top: 230px;
}

#loginButton button {
    border: 2px rgb(108, 114, 122) solid;
    color: rgb(108, 114, 122);
}

#loginButton button:hover {
    color: white;
    border: 2px white solid;
}
