<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/kube.css">

    <link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/homepage.css">
    <title>Trendify -- Home</title>
</head>

<body>
    <div id="title">
    </div>
    <img src="img/record.jpg" alt="Record Player" id="homeBG">
    <div id="dropdown">
        <button id="dropbtn"><a href="#">Trendify</a></button>
        <div id="links">
            <a href="#">Profile</a>
            <a href="#">Reciter</a>
        </div>
    </div>

</body>

</html>
