<!DOCTYPE html>

<html>

<head>
    <!-- Kube CSS -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/kube.css">

    <link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <title>Trendify -- Login</title>
</head>

<body>
    <div id="title">
        <h1>Trendify</h1>
    </div>
    <img src="img/record.jpg" alt="Record Player" id="loginBG">
    <div id="mainBox">
        <!-- <p>Log In or Sign Up</p> -->
        <div id="options">
            <nav class="tabs" data-component="tabs" data-equals="true">
                <ul>
                    <li class="active"><a href="#tab1">Sign Up</a></li>
                    <li><a href="#tab2">Forgot Your Password?</a></li>
                </ul>
            </nav>
        </div>
        <form class="form">
            <div id="tab1">
                <div class="form-item">
                    <label>Email <span class="req">*</span></label>
                    <input type="text">
                    <!-- <div class="desc">Placeholder</div> -->
                    <br>
                    <label>Password <span class="req">*</span></label>
                    <input type="password">
                </div>
                <div id="loginButton">
                    <button class="button secondary round outline">Log In</button>
                </div>
            </div>
            <div id="tab2">
                <div class="form-item">
                    <label>Email <span class="req">*</span></label>
                    <input type="text">
                    <div class="desc">Don't worry, we've got you.</div>
                </div>
                <div id="loginButton">
                    <button class="button secondary round outline">Reset</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../js/kube.js"></script>
</body>

</html>
